@model ModelLayer.Models.EmployeeModel

@{
    ViewData["Title"] = "CreateEmployee";
}

<style>
    .form-image{
        display:flex;
        justify-content:space-between;
        margin:20px 0px;
    }

    .footer {
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 360px;
        color: white;
    }
</style>

<h1>CREATE EMPLOYEE</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="color:white;font-size:20px">
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-image">
                <label asp-for="ImagePath" class="control-label"></label>
                <div>
                    @Html.RadioButtonFor(empModel => empModel.ImagePath, Url.Content("~/Assets/profile1.png"))
                    <img class="profileImg", src="~/Assets/profile1.png" />
                </div>
                <div>
                    @Html.RadioButtonFor(empModel => empModel.ImagePath, Url.Content("~/Assets/profile2.png"))
                    <img class="profileImg" , src="~/Assets/profile2.png" />
                </div>
                <div>
                    @Html.RadioButtonFor(empModel => empModel.ImagePath, Url.Content("~/Assets/profile3.png"))
                    <img class="profileImg" , src="~/Assets/profile3.png" />
                </div>
                <div>
                    @Html.RadioButtonFor(empModel => empModel.ImagePath, Url.Content("~/Assets/profile4.png"))
                    <img class="profileImg" , src="~/Assets/profile4.png" />
                </div>
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label" style="margin-right:20px;"></label>
                @Html.RadioButtonFor(empModel => empModel.Gender, "Male")
                <label style="margin-right:20px;">Male</label>
                @Html.RadioButtonFor(empModel => empModel.Gender, "Female")
                <label>Female</label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:9px 0px">
                <label asp-for="Department" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(empModel => empModel.Department, new SelectList(new[]
                        {
                    new SelectListItem { Text = "IT", Value = "IT" },
                    new SelectListItem { Text = "HR", Value = "HR" },
                    new SelectListItem { Text = "Finance", Value = "Finance" },
                    new SelectListItem { Text = "Others", Value = "Others" }
                    }, "Value", "Text"), "-- Select Department --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(empModel => empModel.Department, "", new { @class = "text-danger" })
                </div>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin:10px 0px;" /> |
                <a asp-action="GetAllEmployee" style="color:white;">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
