@model IEnumerable<RepositoryLayer.Entity.EmployeeEntity>

@{
    ViewData["Title"] = "GetAllEmployee";
}
<style>

    .container {
        width:90%;
        display:flex;
        justify-content:center;
        background-color: #5bc3eb;
        border-radius:24px;
        margin-top:40px;
        padding:0px 60px;
    }


    thead,
    tfoot {
        background-color: #42515F;
        color: #fff;
    }

    tbody {
        background-color: #e4f0f5;
        font-family:sans-serif;
        font-style:normal;
    }



    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 0.9rem;
    }

    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;
        text-align:center;
            
    }

    h1{
        padding:10px;
        text-align:center;
        color:floralwhite;
        font-size:40px;
        font-family: 'Roboto', sans-serif;
        font-weight:600;
    }
    .footer{
        padding:10px;
        position:absolute;
        bottom:0;
        width:360px;
        
    }

    .back-btn{
        background-color:coral;
    }
    .btn-ctn{
        display:flex;
        justify-content:space-between;
    }

    #searchForm{
        border-radius: 24px;

    }

 

</style>

<h1>Employee Details</h1>


<form id="searchForm" method="get" asp-action="SearchEmployee" data-ajax="true" data-ajax-update="#searchResults">
    <div class="btn-ctn">
        <div>
        <input type="search" placeholder="Search Employee Name.." value="@ViewData["GetAllEmployee"]" name="searchterm" style="width:500px; border-radius:10px;" />
        <input type="submit" value="Search" class="btn btn-primary"  /> |
        @Html.ActionLink("Back", "GetAllEmployee", new { /*empId = item.EmployeeId*/ }, new { @class = "btn back-btn" })
        </div>
        <div>
        @Html.ActionLink("Login", "", new { /*empId = item.EmployeeId*/ }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Create", "CreateEmployee", new { /*empId = item.EmployeeId*/ }, new { @class = "btn btn-warning" })
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th colspan="3"></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td id="button">
                    @Html.ActionLink("Edit", "UpdateEmp", new { empId = item.EmployeeId },new { @class="btn btn-primary"})
                                      
            </td>
            <td>
                    @Html.ActionLink("Details", "GetEmployeeDetials", new { empId = item.EmployeeId }, new { @class = "btn btn-success" })
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new { empId = item.EmployeeId }, new { @class = "btn btn-danger", style = "margin-right: 5px; background-color: #dc3545; color: white;" })
            </td>
        </tr>
}
    </tbody>
</table>
